@import url('https://fonts.google.com/specimen/Poppins');

/* En mi pantalla 1vw=17.78px y vh=8.75 */

:root{
    --fuente: "Poppins", sans-serif;
    --colorprimario: #F8FAFC;
    --colorsecundario:#000000;
    --colorterceario:#4D5562;
    --colorcuartario:#D9D9D9;
    font-size: clamp(4px,1vw,16px);
}


* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

body {
        width: 100vw;
        height: 100vh;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--colorprimario);
      }
.encabezado{
    margin:1rem 0 2rem 0;
    width:50rem;
    text-align: center;
    font-family: var(--fuente);
    font-weight: 600;
    font-size: 2.5rem;
    color: var(--colotsecundario);
}
.lista__articulos{
    font-family: var(--fuente);
}

.articulo{
    display: flex;
    height: 7rem;
    margin: 1.55rem 0 1rem 0;
    align-items: center;
}
.articulo__imagen{
        margin-right: 2.5rem;
        border-radius: 1rem;
        width: 7.5rem;
        height: auto;

}
.articulo__cuerpo{
    width: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}
.articulo__titulo{
    font-family: var(--fuente);
    font-size: 1.15rem;
    color: var(--colorsecundario);
}
.articulo__fecha{
    font-family: var(--fuente);
    font-weight: 500;
    font-size: 0.875rem;
    padding: 1.5rem 0 0 0; 
    color: var(--colorterceario);
}


@media(max-height:600px){
    .lista__articulos{
        display:flex;
        flex-direction: row;
    }

    .encabezado{
        width: 60rem;
    }
    .articulo{
        display: flex;
        height: 7rem;
        width: 30rem;
        margin: 1.55rem 0 1rem 0;
        align-items: center;
    }
}




.author-info {
        font-size: 0.875;
        text-align: center;
        margin-top: 1.5rem;
        color: rgb(55, 65, 81);
      }

.author-info a {
        text-decoration: none;
      }

